.header{
    padding: 10px;
    margin: 10px 0;
    align-items: center;
    .navbar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__logo{
            display: flex;
            margin-left: 40px;
            &__img{
                width: 60px;
                height:25px;
            }
        }
        &_item{
            display: flex;
            justify-content: start;
            margin-left: auto;
            list-style: none;
            &__items{
                display: flex;
                padding: 10px;
                .link{
                    font-family: sans-serif;
                    text-decoration: none;
                }
            }
        }
    }
    
}